@import "shared";
@import "index";
@import "news";
@import "article";
@import "navbar";
@import "results-app";
@import "subnav";
@import "default-header";
@import "results_page";
@import "medias_page";
@import "photos_page";
@import "videos_page";
@import "teams_app";
@import "joinus_page";


#teams_page {
  header {
    background-image: url("http://res.cloudinary.com/djhf37mbt/image/upload/e_blur:392/v1534257466/teams.jpg");
    background-size: cover;
    background-position: 100% 18%;
    height: 40vh;
  }
}

@media screen and (min-width: 414px) and (max-width: 768px) {
  #teams_page {
    main {
      margin: 0 2%;
      padding: 0;
    }

  }
}

@media screen and (max-width: 414px) {
  #teams_page {
    main {
      margin: 0 2%;
      padding: 0;
    }
  }
}

footer a {
  color: #292526;
}




















