#article_page {

  position: relative;

  header {
    background-size: cover;
    width: 100%;
    height: 80vh;
    background-position: top center;
  }

  main {
    margin: 0 17%;
    padding: 0;
    position: relative;
    top: -100px;

    article * {
      font-family: arial;
      color: #000;
    }

    article {

      background-color: #FFFFFF;
      padding: 5em 10%;

      p {
        margin-bottom: 1em;
        line-height: 1.7em;
        text-align: justify;
      }

      h1, h2, h3, h4 {
        margin-top: 1em;
        line-height: 1.5em;
        text-transform: none;
      }

      h1 {
        margin-top: 0;
        font-size: 2.5em;
        text-align: center;
      }

      h2 {
        font-size: 2em;
      }

      h3 {
        font-size: 1.5em;
      }

      h4 {
        font-size: 1.25em;
      }

      li {
        margin: 0.8em 0;
      }

      strong {
        padding: 0 2em 1.5em 2em;
        margin-bottom: 2em;
        display: block;
        border-bottom: #292526 solid 1px;
      }

      img {
        margin: 0 auto;
        width: 60%;
        object-fit: contain;
      }

      iframe {
        margin: 0 auto;
      }
    }
  }
}

@media screen and (min-width: 414px) and (max-width: 768px) {
  #article_page {
    main {
      margin: 0 5%;
    }

    #news_container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 414px) {
  #article_page {
    main {
      margin: 0;
    }
  }
}