.default-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    background-size: cover;

    h1 {
      margin-bottom: 0;
    }
}

@media screen and (max-width: 768px){
    .default-header {
        height: 25vh;
    }
}