#index_page {
  // header

  header {
    color: white;
    background-image: url("https://res.cloudinary.com/djhf37mbt/image/upload/v1534251659/hockey-site/site/hero-background.jpg");
    background-size: cover;
    height: 100vh;

  }

  header main {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 0 4em 0 0;
    background-color: rgba(41, 37, 38, 0.6 );
  }

  header main div {
    width: 50%;
  }

  header aside img {
    max-width: 100%;
    display: block;
    height: auto;
  }

  header main h1 {
    margin: 10rem 0 4rem 0;
    text-transform: uppercase;
    font-family: 'Racing Sans One';
    font-size: 3.2rem;
  }

  header main p {
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 2em;
  }


  section#results {
    width: 100%;
    margin-top: 2em;
  }

  section button {
    display: block;
    margin: 0 auto;
  }





  #medias {
    margin-top: 3em;
  }

  #medias > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;

  }

  #medias > div > section {
    width: 45%;
  }

  iframe {
    max-width: 100%;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .thumbnails-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
  }

  .thumbnails-container > .thumbnail {
    flex : 0 0 30%;
    margin-bottom: 1.5em;
  }

  .thumbnail > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  .thumbnail a img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;

  }

  .thumbnail a:hover img {
    filter: brightness(50%);
  }

  .thumbnail figcaption {
    text-align: center;
  }

  .thumbnail a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #photos .thumbnails-container {
    margin-top: 1em;
  }

  #teams {
    margin: 2em 0;
  }

  #teams div {
    position: relative;
  }

  #teams > div:nth-last-child(2) {
    position: relative;
    width: 100%;
    height: 24vh;
    margin-bottom: 0.35em;
    background-image: url("https://picsum.photos/1600/900");
  }

  #teams > div:nth-last-child(1) {
    height: 90vh;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }

  #teams > div:nth-last-child(1) > div {
    background-color: blueviolet;
    width: 100%;
    height: 13%;
  }

  #teams > div:nth-last-child(1) > div:nth-last-child(7) {
    background-image: url("https://picsum.photos/400/600/?random");
  }

  #teams > div:nth-last-child(1) > div:nth-last-child(6) {
    background-image: url("https://picsum.photos/400/600/?image=2");
  }

  #teams > div:nth-last-child(1) > div:nth-last-child(5) {
    background-image: url("https://picsum.photos/400/600/?image=23");
  }

  #teams > div:nth-last-child(1) > div:nth-last-child(4) {
    background-image: url("https://picsum.photos/400/600/?image=4");
  }

  #teams > div:nth-last-child(1) > div:nth-last-child(3) {
    background-image: url("https://picsum.photos/400/600/?image=14");
  }

  #teams > div:nth-last-child(1) > div:nth-last-child(2) {
    background-image: url("https://picsum.photos/1600/900/?image=8");
  }

  #teams > div:nth-last-child(1) > div:nth-last-child(1) {
    background-image: url("https://picsum.photos/1600/900/?image=67");
  }

  .layer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(42, 44, 44, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .layer:hover {
    background-color: rgba(42, 44, 44, 0.6);
  }

  .layer h3 {
    margin-bottom: 0;
    font-size: 1.5em;
  }


}

@media screen and (max-width: 809px) {

  #index_page {
    h1, h2, h3, h4 {
      text-align: center;
    }


    header {
      height: 100vh;
      background-size: cover;
      background-position: center;
    }

    header main h1 {
      font-size: 2.2em;
      padding-top: 2em;
      margin: 1em 0;
    }

    header main {
      padding: 0;
      background-color: rgba(41, 37, 38, 0.4);
    }

    header main div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      padding: 0 1em;
      width: 100%;
      height: 100vh;

    }



    #medias > div {
      display: flex;
      flex-direction: column;
      margin-bottom: 2em;

    }

    #medias > div > section {
      width: 100%;
    }

    .thumbnail > a > figure > img {
      margin: 0 auto;
    }

    #news_container > a {
      margin: 0 auto;
    }
  }

}

@media screen and (max-width: 500px) {
  .thumbnail {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1100px) {
  #teams > div:nth-last-child(1) {
    height: 90vh;
    display: flex;
    flex-direction: column;
    width: 100%
  }

  #teams > div:nth-last-child(1) > div {
    background-color: blueviolet;
    width: 100%;
    height: 13%;
  }

  .layer h3 {
    font-size: 1em;
  }
}