#joinus_page {

  .default-header {
    background-position: 100% 20%;
  }

  main {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
  }

  form {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    background-color: #FFFFFF;
    color: #292526;
    padding: 2em;
    margin: 2em auto;
    height: 80vh;
    input {
      border: #292526 solid 1px;

    }

    .form_item {
      display: flex;
      flex-direction: column;
    }

    button{
      border: solid 2px #292526;
      color: #292526;
      width: 30%;
      margin: 1em auto;
    }

    button:hover{
      background-color: #292526;
      color: #FFFFFF;

    }
  }

}

@media screen and (min-width: 414px) and (max-width: 768px) {
  #joinus_page {
    main {
      margin: 0 2%;
      padding: 2em 0;
    }
    form {
      width: 90%;
      button {
        width: 50%;
      }
    }

  }
}

@media screen and (max-width: 414px) {
  #joinus_page {
    main {
      margin: 0 2%;
      padding: 2em 0;
    }
    form {
      width: 100%;
      button {
        width: 80%;
      }
    }

  }
}