#medias_page {
  #medias_type {
    margin: 2em 0;
    height: 60vh;
  }

  #medias_type div {
    position: relative;
  }


  #medias_type > div {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  #medias_type > div > div {
    background-color: blueviolet;
    width: 30%;
    height: 100%;
    background-size: cover;
    margin-bottom: 1em;
  }

  #medias_type > div > div:nth-last-child(1) {
    background-image: url("https://res.cloudinary.com/djhf37mbt/image/upload/q_44/v1534254342/hockey-site/site/videos.gif");
  }

  #medias_type > div > div:nth-last-child(2) {
    background-image: url("https://res.cloudinary.com/djhf37mbt/image/upload/v1534252535/hockey-site/site/photos.jpg");
  }

  .layer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(42, 44, 44, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .layer:hover {
    background-color: rgba(42, 44, 44, 0.6);
  }

  .layer h3 {
    margin-bottom: 0;
    font-size: 1.5em;
  }

}


@media screen and (max-width: 801px) {
  #medias_page {
    #medias_type > div {
      display: flex;
      flex-direction: column;
      width: 100%
    }

    #medias_type > div > div {
      background-color: blueviolet;
      width: 100%;
      height: 100%;
    }

    .layer h3 {
      font-size: 1em;
    }
  }
}
