#navbar.plain_nav {
  background-color: #292526;
}

#navbar {

  text-transform: uppercase;
  padding: 0 4rem;
  width: 100%;
  display: flex;
  position: fixed;
  align-self: center;
  justify-content: space-between;
  z-index: 3;

  a {
    div:first-child {
      padding: 0.5em 0;
      display: flex;
      align-items: center;

      span {
        padding-left: 10px;
        font-size: 1.5em;
      }
    }
  }

  div {
    display: flex;
    justify-content: flex-end;
    padding: 1.5em 0;

    a {
      padding-bottom: 2px;
      margin: 0 1em;
    }

    a:hover {
      border-bottom: white 1px solid;
      cursor: pointer;
      padding-bottom: 1px;
    }
  }
}

@media screen and (min-width: 807px) {
  i.fa-bars {
    display: none;
  }
}

@media screen and (max-width: 809px) {
  #navbar {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 0;
  }

  #navbar > i {
    padding: 1em;
    font-size: 1.5em;
  }

  #navbar > div {
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    width: 320px;
    left: -320px;
    background-color: #292526;
    padding-top: 4em;
    transition: left 0.3s;
    transition-timing-function: ease-in-out;
  }

  #navbar > div > a {
    margin: 1em;
  }
}
