#news_page {

  header {
    background-position:  100% 20%;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #news_container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .news_item {
    margin: 0.75em;
    flex: 0 0 25%;
  }

  #news_container > a {
    margin-bottom: 2em;
  }

}

@media screen and (min-width: 414px) and (max-width: 768px) {
  #news_page {
    main {
      margin: 0 2%;
      padding: 0;
    }

    #news_container {
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 414px) {
  #news_page {
    main {
      margin: 0 2%;
      padding: 0;
    }
  }
}