#photos_page {

  .thumbnails-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
  }

  .thumbnail {
    flex : 0 0 30%;
    margin: 0 1em 1.5em 1em;
  }

  .thumbnail > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  .thumbnail a img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;

  }

  .thumbnail a:hover img {
    filter: brightness(50%);
  }

  .thumbnail figcaption {
    text-align: center;
  }

  .thumbnail a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #photos .thumbnails-container {
    margin-top: 1em;
  }

}

@media screen and (min-width: 414px) and (max-width: 768px){
  #photos_page {
    .thumbnail {
      width: 25%;
    }
  }
}

@media screen and (max-width: 414px){
  #photos_page {
    .thumbnails-container {
      flex-direction: column;
    }

    .thumbnail {
      width: 100%;
      margin: 1em 0;
    }
  }
}