#results_page {
  header {
    background: url('https://res.cloudinary.com/djhf37mbt/image/upload/v1534255389/hockey-site/site/results-header.jpg');
    background-position: top 26% center;
    background-size: cover;
  }

  #games_panel {
    display: flex;
    flex-direction: column-reverse;
  }

  #results > div:last-child {
    display: flex;
    flex-direction: column;

    > div {
      width: 100%;
    }
  }

}

@media screen and (min-width: 414px) and (max-width: 768px) {
  #results_page {
    main {
      margin: 0 2%;
      padding: 0;
    }

  }
}

@media screen and (max-width: 414px) {
  #results_page {
    main {
      margin: 0 2%;
      padding: 0;
    }
  }
}

