#results {
  .team-selector {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    span {
      padding: 1em;
      margin: 0.25em;
      border: solid white 1px;
    }
  }

  h3 {
    margin: 1em 0;
    font-size: 1.5em;
  }

  #games_panel {

    .games_list {
      display: flex;
      overflow-x: auto;
    }

    .game_item {
      min-width: 20%;
      margin: 1em;
      background-color: #FFFFFF;
      color: #292526;
      padding: 1em;
    }

    .team_score {
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      font-size: 1.25em;
    }

    .game_type {
      margin-bottom: 0.75em;
    }

    .date {
      margin-top: 0.75em;
    }
  }

  #standing_panel {
    table {
      background-color: #FFFFFF;
      color: #292526;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1.5em 0;
    }
    td {
      padding: 0.5em 1em;
      text-align: center;
    }

    td:first-child {
      padding-right: 4em;
      text-align: left;
    }
  }

}

@media screen and (min-width: 414px) and (max-width: 768px) {
  #results {
    #games_panel {
      .game_item {
        min-width: 25%;
      }
    }
  }
}

@media screen and (max-width: 414px){
  #results {
    .team-selector {
      font-size: 0.8em;
      span {
        padding: 0.5em;
      }
    }
    #games_panel {
      .game_item {
        min-width: 50%;
      }
    }

    #standing_panel {
      table {
        background-color: #FFFFFF;
        color: #292526;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1.5em 0;
      }
      td {
        padding: 0.5em 0.5em;
        text-align: center;
      }

      td:first-child {
        padding-right: 0;
        text-align: left;
      }
    }
  }
}

#index_page {
  #results {
    margin-bottom: 1em;
    > div:last-child {
      display: flex;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      > div {
        width: 50%;
        @media screen and (max-width: 768px){
          width: 100%;
        }
        table {
          width: 100%;
        }
      }
    }
  }
}