* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

a {
  color: white;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Racing Sans One';
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

body > main, div > main {
  padding: 0 4rem;
}

h3 {
  margin-bottom: 1em;
}

body {
  background-color: #292526;
  background-image: url("/assets/pattern1.png");
  color: #FFFFFF;
}

button {
  padding: 0.5rem 1rem;
  background-color: inherit;
  color: white;
  border: 2px solid white;
}


button:hover {
  cursor: pointer;
  background-color: white;
  color: #292526;
}

main a button {
  font-size: 1.2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #292526;
  background: #FFFFFF;
  padding: 3em 4em;
  margin-top: 2em;
}

footer li {
  list-style-type: none;
  margin-bottom: 0.5em;
  font-size: 1.1em;
}

footer i {
  font-size: 2em;
  margin-left: 0.5em;
}

#news {
  padding-top: 2em;
}

#news_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 2em;
}

.news_item {
  height: 450px;
  width: 300px;
  margin: 0.7em;
  position: relative;
}

.news_item img {
  width: 300px;
  height: 450px;
  object-fit: cover;
  overflow: hidden;
}

img {
  display: block;
}

figure {
  position: relative;
  overflow: hidden;
  cursor: pointer ;
}

.news_info {
  background-color: rgba(57, 56, 60, 0.8);
  position: relative;
  top: -98px;
  padding: 2em 1em;
  transition: top 0.3s;
}

.news_info h5 {
  margin-bottom:  2em;
}

.news_info p {
  visibility: hidden;
  font-size: 0.8em;
  transition: visibility 0.35s;
}

#news_container > a:hover > .news_item > .news_info > p {
  visibility: visible;
}

#news_container > a:hover > .news_item > .news_info {
  top: -180px;
}

@media screen and (min-width: 414px) and (max-width: 768px) {
  body > main {
    margin: 1em;
  }

  body > main, div > main {
    padding: 0 2%;
  }

  .news_info p {
    visibility: visible;
  }

  .news_info {
    top: -180px;
  }
}


@media screen and (max-width: 414px) {
  body > main {
    margin: 1em;
  }

  body > main, div > main {
    padding: 0 2%;
  }

  footer {
    flex-direction: column;
  }
}