.subnav {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1.5em 0;

  a {
    padding: 0 1em 5px 1em;
  }

  a:hover {
    padding-bottom: 4px;
    border-bottom: #FFFFFF 1px solid;
  }
}

@media screen and (max-width: 768px) {
  .subnav {
    width: 100%;
    justify-content: center;
    margin: 1.5em auto;
  }
}

@media screen and (max-width: 414px) {
  .subnav {
    font-size: 0.8em;
  }
}
