#teams-app {

  margin-top: 1.5em;

  .team-selector {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    span {
      padding: 1em;
      margin: 0.25em;
      border: solid white 1px;
    }

    span:hover {
      cursor: pointer;
      background-color: white;
      color: #292526;
    }
  }

  #team_panel {

    display: flex;
    flex-direction: column;

    > img {
      margin: 0 auto;
      width: 95%;
      object-fit: cover;
    }

    > div {
      display: flex;
    }

  }

  #players {
    padding: 2em;
    margin: 0 auto;
    width: 95%;
    color: #292526;
    background-color: #FFFFFF;

  }

  #player_list {
    display: flex;
    width: 34%;
    justify-content: flex-end;
    ul {
      list-style-type: none;
      font-size: 1.2em;

      li {
        padding: 0.6em;
      }
    }
  }

  #player_details {

    width: 66%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #player_position {
      text-transform: capitalize;
    }

    div {
      margin-left: 3em;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }

    h4 {
      font-size: 2em;
    }

    p {
      font-size: 1.4em;
      margin-top: 1em;
    }

    img {
      width: 50%;
      object-fit: contain;
    }

    ul {
      margin-left: 1em;
      font-size: 1.2;

      li {
      }
    }
  }

}

@media screen and (min-width: 414px) and (max-width: 768px) {
  #team_panel {
    #players {
      padding: 2em 1em;
    }
  }
}

@media screen and (max-width: 414px) {
  #teams-app {
    .team-selector {
      font-size: 0.8em;
      span {
        padding: 0.5em;
      }
    }

    #team_panel {
      margin-top: 1em;
    }

    #player_list {
      font-size: 0.8em;
      ul {
        li {
          padding: 0 0 1em 0;
        }
      }
    }
    #players {
      padding: 2em 1em;
    }
    #player_details {
      flex-direction: column;
      align-items: normal;
      justify-content: normal;
      div {
        margin: 1em 0 0 0;
        width: 100%;
      }
      img {
        width: 80%;
        margin: 0 auto;
      }
      h4 {
        margin: 0;
        font-size: 1.2em;
      }
      p {
        font-size: 1em;
        margin: 0;
      }
    }
  }
}