#videos_page {

  header {
    background-image: url('http://res.cloudinary.com/djhf37mbt/image/upload/e_blur:392/v1534257108/hockey-site/site/medias.jpg');
    background-position: top 15% center;
    background-size: cover;
  }

  .thumbnails-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .thumbnail {
    margin: 2em 1em;
    width: 22%;

    img {
      width: 100%;
      object-fit: contain;
    }

    figcaption {
      p {
        text-align: center;
      }
    }
  }

  main {
    margin-top: 2em;
  }

  @media screen and (min-width: 414px) and (max-width: 768px) {
    .thumbnail {
      width: 28%;
    }
  }

  @media screen and (max-width: 414px) {
    .thumbnails-container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .thumbnail {
      width: 100%;
      margin: 1em 0;
    }
  }

}

