* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box; }

a {
  color: white;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Racing Sans One';
  text-transform: uppercase;
  margin-bottom: 1.5em; }

body > main, div > main {
  padding: 0 4rem; }

h3 {
  margin-bottom: 1em; }

body {
  background-color: #292526;
  background-image: url("/assets/pattern1.png");
  color: #FFFFFF; }

button {
  padding: 0.5rem 1rem;
  background-color: inherit;
  color: white;
  border: 2px solid white; }

button:hover {
  cursor: pointer;
  background-color: white;
  color: #292526; }

main a button {
  font-size: 1.2rem; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #292526;
  background: #FFFFFF;
  padding: 3em 4em;
  margin-top: 2em; }

footer li {
  list-style-type: none;
  margin-bottom: 0.5em;
  font-size: 1.1em; }

footer i {
  font-size: 2em;
  margin-left: 0.5em; }

#news {
  padding-top: 2em; }

#news_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 2em; }

.news_item {
  height: 450px;
  width: 300px;
  margin: 0.7em;
  position: relative; }

.news_item img {
  width: 300px;
  height: 450px;
  object-fit: cover;
  overflow: hidden; }

img {
  display: block; }

figure {
  position: relative;
  overflow: hidden;
  cursor: pointer; }

.news_info {
  background-color: rgba(57, 56, 60, 0.8);
  position: relative;
  top: -98px;
  padding: 2em 1em;
  transition: top 0.3s; }

.news_info h5 {
  margin-bottom: 2em; }

.news_info p {
  visibility: hidden;
  font-size: 0.8em;
  transition: visibility 0.35s; }

#news_container > a:hover > .news_item > .news_info > p {
  visibility: visible; }

#news_container > a:hover > .news_item > .news_info {
  top: -180px; }

@media screen and (min-width: 414px) and (max-width: 768px) {
  body > main {
    margin: 1em; }
  body > main, div > main {
    padding: 0 2%; }
  .news_info p {
    visibility: visible; }
  .news_info {
    top: -180px; } }

@media screen and (max-width: 414px) {
  body > main {
    margin: 1em; }
  body > main, div > main {
    padding: 0 2%; }
  footer {
    flex-direction: column; } }

#index_page header {
  color: white;
  background-image: url("https://res.cloudinary.com/djhf37mbt/image/upload/v1534251659/hockey-site/site/hero-background.jpg");
  background-size: cover;
  height: 100vh; }

#index_page header main {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 0 4em 0 0;
  background-color: rgba(41, 37, 38, 0.6); }

#index_page header main div {
  width: 50%; }

#index_page header aside img {
  max-width: 100%;
  display: block;
  height: auto; }

#index_page header main h1 {
  margin: 10rem 0 4rem 0;
  text-transform: uppercase;
  font-family: 'Racing Sans One';
  font-size: 3.2rem; }

#index_page header main p {
  margin-bottom: 3rem; }

#index_page h2 {
  font-size: 2em; }

#index_page section#results {
  width: 100%;
  margin-top: 2em; }

#index_page section button {
  display: block;
  margin: 0 auto; }

#index_page #medias {
  margin-top: 3em; }

#index_page #medias > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em; }

#index_page #medias > div > section {
  width: 45%; }

#index_page iframe {
  max-width: 100%; }

#index_page .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

#index_page .video-container iframe,
#index_page .video-container object,
#index_page .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#index_page .thumbnails-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em; }

#index_page .thumbnails-container > .thumbnail {
  flex: 0 0 30%;
  margin-bottom: 1.5em; }

#index_page .thumbnail > figure {
  display: flex;
  flex-direction: column;
  align-items: center; }

#index_page .thumbnail a img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block; }

#index_page .thumbnail a:hover img {
  filter: brightness(50%); }

#index_page .thumbnail figcaption {
  text-align: center; }

#index_page .thumbnail a {
  display: flex;
  flex-direction: column;
  justify-content: center; }

#index_page #photos .thumbnails-container {
  margin-top: 1em; }

#index_page #teams {
  margin: 2em 0; }

#index_page #teams div {
  position: relative; }

#index_page #teams > div:nth-last-child(2) {
  position: relative;
  width: 100%;
  height: 24vh;
  margin-bottom: 0.35em;
  background-image: url("https://picsum.photos/1600/900"); }

#index_page #teams > div:nth-last-child(1) {
  height: 90vh;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto; }

#index_page #teams > div:nth-last-child(1) > div {
  background-color: blueviolet;
  width: 100%;
  height: 13%; }

#index_page #teams > div:nth-last-child(1) > div:nth-last-child(7) {
  background-image: url("https://picsum.photos/400/600/?random"); }

#index_page #teams > div:nth-last-child(1) > div:nth-last-child(6) {
  background-image: url("https://picsum.photos/400/600/?image=2"); }

#index_page #teams > div:nth-last-child(1) > div:nth-last-child(5) {
  background-image: url("https://picsum.photos/400/600/?image=23"); }

#index_page #teams > div:nth-last-child(1) > div:nth-last-child(4) {
  background-image: url("https://picsum.photos/400/600/?image=4"); }

#index_page #teams > div:nth-last-child(1) > div:nth-last-child(3) {
  background-image: url("https://picsum.photos/400/600/?image=14"); }

#index_page #teams > div:nth-last-child(1) > div:nth-last-child(2) {
  background-image: url("https://picsum.photos/1600/900/?image=8"); }

#index_page #teams > div:nth-last-child(1) > div:nth-last-child(1) {
  background-image: url("https://picsum.photos/1600/900/?image=67"); }

#index_page .layer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 44, 44, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#index_page .layer:hover {
  background-color: rgba(42, 44, 44, 0.6); }

#index_page .layer h3 {
  margin-bottom: 0;
  font-size: 1.5em; }

@media screen and (max-width: 809px) {
  #index_page h1, #index_page h2, #index_page h3, #index_page h4 {
    text-align: center; }
  #index_page header {
    height: 100vh;
    background-size: cover;
    background-position: center; }
  #index_page header main h1 {
    font-size: 2.2em;
    padding-top: 2em;
    margin: 1em 0; }
  #index_page header main {
    padding: 0;
    background-color: rgba(41, 37, 38, 0.4); }
  #index_page header main div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 0 1em;
    width: 100%;
    height: 100vh; }
  #index_page #medias > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em; }
  #index_page #medias > div > section {
    width: 100%; }
  #index_page .thumbnail > a > figure > img {
    margin: 0 auto; }
  #index_page #news_container > a {
    margin: 0 auto; } }

@media screen and (max-width: 500px) {
  .thumbnail {
    margin: 0 auto; } }

@media screen and (max-width: 1100px) {
  #teams > div:nth-last-child(1) {
    height: 90vh;
    display: flex;
    flex-direction: column;
    width: 100%; }
  #teams > div:nth-last-child(1) > div {
    background-color: blueviolet;
    width: 100%;
    height: 13%; }
  .layer h3 {
    font-size: 1em; } }

#news_page header {
  background-position: 100% 20%; }

#news_page section {
  display: flex;
  flex-direction: column;
  align-items: center; }

#news_page #news_container {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

#news_page .news_item {
  margin: 0.75em;
  flex: 0 0 25%; }

#news_page #news_container > a {
  margin-bottom: 2em; }

@media screen and (min-width: 414px) and (max-width: 768px) {
  #news_page main {
    margin: 0 2%;
    padding: 0; }
  #news_page #news_container {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center; } }

@media screen and (max-width: 414px) {
  #news_page main {
    margin: 0 2%;
    padding: 0; } }

#article_page {
  position: relative; }
  #article_page header {
    background-size: cover;
    width: 100%;
    height: 80vh;
    background-position: top center; }
  #article_page main {
    margin: 0 17%;
    padding: 0;
    position: relative;
    top: -100px; }
    #article_page main article * {
      font-family: arial;
      color: #000; }
    #article_page main article {
      background-color: #FFFFFF;
      padding: 5em 10%; }
      #article_page main article p {
        margin-bottom: 1em;
        line-height: 1.7em;
        text-align: justify; }
      #article_page main article h1, #article_page main article h2, #article_page main article h3, #article_page main article h4 {
        margin-top: 1em;
        line-height: 1.5em;
        text-transform: none; }
      #article_page main article h1 {
        margin-top: 0;
        font-size: 2.5em;
        text-align: center; }
      #article_page main article h2 {
        font-size: 2em; }
      #article_page main article h3 {
        font-size: 1.5em; }
      #article_page main article h4 {
        font-size: 1.25em; }
      #article_page main article li {
        margin: 0.8em 0; }
      #article_page main article strong {
        padding: 0 2em 1.5em 2em;
        margin-bottom: 2em;
        display: block;
        border-bottom: #292526 solid 1px; }
      #article_page main article img {
        margin: 0 auto;
        width: 60%;
        object-fit: contain; }
      #article_page main article iframe {
        margin: 0 auto; }

@media screen and (min-width: 414px) and (max-width: 768px) {
  #article_page main {
    margin: 0 5%; }
  #article_page #news_container {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 414px) {
  #article_page main {
    margin: 0; } }

#navbar.plain_nav {
  background-color: #292526; }

#navbar {
  text-transform: uppercase;
  padding: 0 4rem;
  width: 100%;
  display: flex;
  position: fixed;
  align-self: center;
  justify-content: space-between;
  z-index: 3; }
  #navbar a div:first-child {
    padding: 0.5em 0;
    display: flex;
    align-items: center; }
    #navbar a div:first-child span {
      padding-left: 10px;
      font-size: 1.5em; }
  #navbar div {
    display: flex;
    justify-content: flex-end;
    padding: 1.5em 0; }
    #navbar div a {
      padding-bottom: 2px;
      margin: 0 1em; }
    #navbar div a:hover {
      border-bottom: white 1px solid;
      cursor: pointer;
      padding-bottom: 1px; }

@media screen and (min-width: 807px) {
  i.fa-bars {
    display: none; } }

@media screen and (max-width: 809px) {
  #navbar {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 0; }
  #navbar > i {
    padding: 1em;
    font-size: 1.5em; }
  #navbar > div {
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    width: 320px;
    left: -320px;
    background-color: #292526;
    padding-top: 4em;
    transition: left 0.3s;
    transition-timing-function: ease-in-out; }
  #navbar > div > a {
    margin: 1em; } }

#results .team-selector {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }
  #results .team-selector span {
    padding: 1em;
    margin: 0.25em;
    border: solid white 1px; }

#results h3 {
  margin: 1em 0;
  font-size: 1.5em; }

#results #games_panel .games_list {
  display: flex;
  overflow-x: auto; }

#results #games_panel .game_item {
  min-width: 20%;
  margin: 1em;
  background-color: #FFFFFF;
  color: #292526;
  padding: 1em; }

#results #games_panel .team_score {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font-size: 1.25em; }

#results #games_panel .game_type {
  margin-bottom: 0.75em; }

#results #games_panel .date {
  margin-top: 0.75em; }

#results #standing_panel table {
  background-color: #FFFFFF;
  color: #292526;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5em 0; }

#results #standing_panel td {
  padding: 0.5em 1em;
  text-align: center; }

#results #standing_panel td:first-child {
  padding-right: 4em;
  text-align: left; }

@media screen and (min-width: 414px) and (max-width: 768px) {
  #results #games_panel .game_item {
    min-width: 25%; } }

@media screen and (max-width: 414px) {
  #results .team-selector {
    font-size: 0.8em; }
    #results .team-selector span {
      padding: 0.5em; }
  #results #games_panel .game_item {
    min-width: 50%; }
  #results #standing_panel table {
    background-color: #FFFFFF;
    color: #292526;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5em 0; }
  #results #standing_panel td {
    padding: 0.5em 0.5em;
    text-align: center; }
  #results #standing_panel td:first-child {
    padding-right: 0;
    text-align: left; } }

#index_page #results {
  margin-bottom: 1em; }
  #index_page #results > div:last-child {
    display: flex; }
    @media screen and (max-width: 768px) {
      #index_page #results > div:last-child {
        flex-direction: column; } }
    #index_page #results > div:last-child > div {
      width: 50%; }
      @media screen and (max-width: 768px) {
        #index_page #results > div:last-child > div {
          width: 100%; } }
      #index_page #results > div:last-child > div table {
        width: 100%; }

.subnav {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1.5em 0; }
  .subnav a {
    padding: 0 1em 5px 1em; }
  .subnav a:hover {
    padding-bottom: 4px;
    border-bottom: #FFFFFF 1px solid; }

@media screen and (max-width: 768px) {
  .subnav {
    width: 100%;
    justify-content: center;
    margin: 1.5em auto; } }

@media screen and (max-width: 414px) {
  .subnav {
    font-size: 0.8em; } }

.default-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
  background-size: cover; }
  .default-header h1 {
    margin-bottom: 0; }

@media screen and (max-width: 768px) {
  .default-header {
    height: 25vh; } }

#results_page header {
  background: url("https://res.cloudinary.com/djhf37mbt/image/upload/v1534255389/hockey-site/site/results-header.jpg");
  background-position: top 26% center;
  background-size: cover; }

#results_page #games_panel {
  display: flex;
  flex-direction: column-reverse; }

#results_page #results > div:last-child {
  display: flex;
  flex-direction: column; }
  #results_page #results > div:last-child > div {
    width: 100%; }

@media screen and (min-width: 414px) and (max-width: 768px) {
  #results_page main {
    margin: 0 2%;
    padding: 0; } }

@media screen and (max-width: 414px) {
  #results_page main {
    margin: 0 2%;
    padding: 0; } }

#medias_page #medias_type {
  margin: 2em 0;
  height: 60vh; }

#medias_page #medias_type div {
  position: relative; }

#medias_page #medias_type > div {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around; }

#medias_page #medias_type > div > div {
  background-color: blueviolet;
  width: 30%;
  height: 100%;
  background-size: cover;
  margin-bottom: 1em; }

#medias_page #medias_type > div > div:nth-last-child(1) {
  background-image: url("https://res.cloudinary.com/djhf37mbt/image/upload/q_44/v1534254342/hockey-site/site/videos.gif"); }

#medias_page #medias_type > div > div:nth-last-child(2) {
  background-image: url("https://res.cloudinary.com/djhf37mbt/image/upload/v1534252535/hockey-site/site/photos.jpg"); }

#medias_page .layer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 44, 44, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#medias_page .layer:hover {
  background-color: rgba(42, 44, 44, 0.6); }

#medias_page .layer h3 {
  margin-bottom: 0;
  font-size: 1.5em; }

@media screen and (max-width: 801px) {
  #medias_page #medias_type > div {
    display: flex;
    flex-direction: column;
    width: 100%; }
  #medias_page #medias_type > div > div {
    background-color: blueviolet;
    width: 100%;
    height: 100%; }
  #medias_page .layer h3 {
    font-size: 1em; } }

#photos_page .thumbnails-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em; }

#photos_page .thumbnail {
  flex: 0 0 30%;
  margin: 0 1em 1.5em 1em; }

#photos_page .thumbnail > figure {
  display: flex;
  flex-direction: column;
  align-items: center; }

#photos_page .thumbnail a img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block; }

#photos_page .thumbnail a:hover img {
  filter: brightness(50%); }

#photos_page .thumbnail figcaption {
  text-align: center; }

#photos_page .thumbnail a {
  display: flex;
  flex-direction: column;
  justify-content: center; }

#photos_page #photos .thumbnails-container {
  margin-top: 1em; }

@media screen and (min-width: 414px) and (max-width: 768px) {
  #photos_page .thumbnail {
    width: 25%; } }

@media screen and (max-width: 414px) {
  #photos_page .thumbnails-container {
    flex-direction: column; }
  #photos_page .thumbnail {
    width: 100%;
    margin: 1em 0; } }

#videos_page header {
  background-image: url("http://res.cloudinary.com/djhf37mbt/image/upload/e_blur:392/v1534257108/hockey-site/site/medias.jpg");
  background-position: top 15% center;
  background-size: cover; }

#videos_page .thumbnails-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

#videos_page .thumbnail {
  margin: 2em 1em;
  width: 22%; }
  #videos_page .thumbnail img {
    width: 100%;
    object-fit: contain; }
  #videos_page .thumbnail figcaption p {
    text-align: center; }

#videos_page main {
  margin-top: 2em; }

@media screen and (min-width: 414px) and (max-width: 768px) {
  #videos_page .thumbnail {
    width: 28%; } }

@media screen and (max-width: 414px) {
  #videos_page .thumbnails-container {
    width: 100%;
    display: flex;
    flex-direction: column; }
  #videos_page .thumbnail {
    width: 100%;
    margin: 1em 0; } }

#teams-app {
  margin-top: 1.5em; }
  #teams-app .team-selector {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }
    #teams-app .team-selector span {
      padding: 1em;
      margin: 0.25em;
      border: solid white 1px; }
    #teams-app .team-selector span:hover {
      cursor: pointer;
      background-color: white;
      color: #292526; }
  #teams-app #team_panel {
    display: flex;
    flex-direction: column; }
    #teams-app #team_panel > img {
      margin: 0 auto;
      width: 95%;
      object-fit: cover; }
    #teams-app #team_panel > div {
      display: flex; }
  #teams-app #players {
    padding: 2em;
    margin: 0 auto;
    width: 95%;
    color: #292526;
    background-color: #FFFFFF; }
  #teams-app #player_list {
    display: flex;
    width: 34%;
    justify-content: flex-end; }
    #teams-app #player_list ul {
      list-style-type: none;
      font-size: 1.2em; }
      #teams-app #player_list ul li {
        padding: 0.6em; }
  #teams-app #player_details {
    width: 66%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #teams-app #player_details #player_position {
      text-transform: capitalize; }
    #teams-app #player_details div {
      margin-left: 3em;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start; }
    #teams-app #player_details h4 {
      font-size: 2em; }
    #teams-app #player_details p {
      font-size: 1.4em;
      margin-top: 1em; }
    #teams-app #player_details img {
      width: 50%;
      object-fit: contain; }
    #teams-app #player_details ul {
      margin-left: 1em;
      font-size: 1.2; }

@media screen and (min-width: 414px) and (max-width: 768px) {
  #team_panel #players {
    padding: 2em 1em; } }

@media screen and (max-width: 414px) {
  #teams-app .team-selector {
    font-size: 0.8em; }
    #teams-app .team-selector span {
      padding: 0.5em; }
  #teams-app #team_panel {
    margin-top: 1em; }
  #teams-app #player_list {
    font-size: 0.8em; }
    #teams-app #player_list ul li {
      padding: 0 0 1em 0; }
  #teams-app #players {
    padding: 2em 1em; }
  #teams-app #player_details {
    flex-direction: column;
    align-items: normal;
    justify-content: normal; }
    #teams-app #player_details div {
      margin: 1em 0 0 0;
      width: 100%; }
    #teams-app #player_details img {
      width: 80%;
      margin: 0 auto; }
    #teams-app #player_details h4 {
      margin: 0;
      font-size: 1.2em; }
    #teams-app #player_details p {
      font-size: 1em;
      margin: 0; } }

#joinus_page .default-header {
  background-position: 100% 20%; }

#joinus_page main {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center; }

#joinus_page form {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  background-color: #FFFFFF;
  color: #292526;
  padding: 2em;
  margin: 2em auto;
  height: 80vh; }
  #joinus_page form input {
    border: #292526 solid 1px; }
  #joinus_page form .form_item {
    display: flex;
    flex-direction: column; }
  #joinus_page form button {
    border: solid 2px #292526;
    color: #292526;
    width: 30%;
    margin: 1em auto; }
  #joinus_page form button:hover {
    background-color: #292526;
    color: #FFFFFF; }

@media screen and (min-width: 414px) and (max-width: 768px) {
  #joinus_page main {
    margin: 0 2%;
    padding: 2em 0; }
  #joinus_page form {
    width: 90%; }
    #joinus_page form button {
      width: 50%; } }

@media screen and (max-width: 414px) {
  #joinus_page main {
    margin: 0 2%;
    padding: 2em 0; }
  #joinus_page form {
    width: 100%; }
    #joinus_page form button {
      width: 80%; } }

#teams_page header {
  background-image: url("http://res.cloudinary.com/djhf37mbt/image/upload/e_blur:392/v1534257466/teams.jpg");
  background-size: cover;
  background-position: 100% 18%;
  height: 40vh; }

@media screen and (min-width: 414px) and (max-width: 768px) {
  #teams_page main {
    margin: 0 2%;
    padding: 0; } }

@media screen and (max-width: 414px) {
  #teams_page main {
    margin: 0 2%;
    padding: 0; } }

footer a {
  color: #292526; }
