* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

a {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Racing Sans One';
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

h3 {
    margin-bottom: 1em;
}

body {
    background-color: #292526;
    color: #FFFFFF;
}

main {
    padding: 0 4rem;
}

header {
    height: 100vh;
    color: white;
    display: flex;
}

header main {
    width: 50%;
    height: 100%;
    padding: 0 1.5em;
}

header aside {
    width: 50%;
    height: 100%;
}

header aside img {
    max-height: 100vh;

}

nav {
    text-transform: uppercase;
    padding: 0 4rem;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    z-index: 3;
}

nav.plain_nav {
    background-color: #292526;
}

nav > div {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 1.5em;
    background-color: #292526;

}

nav div a {
    padding-bottom: 2px;
}

nav div a:hover {
    border-bottom: white 1px solid;
    cursor: pointer;
    padding-bottom: 1px;
}

header main h1 {
    margin: 10rem 0 4rem 0;
    text-transform: uppercase;
    font-family: 'Racing Sans One';
    font-size: 3.2rem;
}

header main p {
    margin-bottom: 3rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: inherit;
    color: white;
    border: 2px solid white;
}


button:hover {
    cursor: pointer;
    background-color: white;
    color: #292526;
}

main a button {
    font-size: 1.2rem;
}

#results {
    width: 100%;
    height: 100vh;
    padding-top: 2em;
}

#standings {
    width: 100%;
    height: 100vh;
    padding-top: 2em;
}

h2 {
    font-size: 2em;
}

.team-selector {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.team-selector span {
    padding: 0.6em 0.8em;
}

.team-selector span:hover {
    cursor: pointer;
    background-color: white;
    color: #292526;
}

.games-panel {
    height: 100%;
}

.game_item {
    width: 30%;
    padding: 0.8em 1em;
    border: 2px white solid;
    background-color: white;
    color: #292526;
}

.games_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.game_type, .date {
    text-align: center;
    font-size: 1em;
    font-weight: 300;
}

.game_type {
    margin-bottom: 0.7em;
}

.date {
    margin-top: 0.7em;
}

.team_score {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.1em;
}

.results_panel {
    display: flex;
    justify-content: space-between;
}

.results_panel > div, .results_panel > table {
    width: 46%;
}

section button {
    display: block;
    margin: 0 auto;
}

table {
    display: flex;
    flex-wrap: wrap;
    padding: 0.6em;
    background-color: white;
    color: #292526;
    margin-bottom: 1.5em;
}

td {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    padding: 0.4em 0.8em;
}

#news {
    padding-top: 2em;
}

#news_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4em;
    margin-bottom: 2em;
}

.news_item {
    height: 450px;
    width: 300px;
    position: relative;
}

.news_item img {
    width: 300px;
    object-fit: cover;
    overflow: hidden;
}

img {
    display: block;
}

figure {
    position: relative;
    overflow: hidden;
    cursor: pointer ;
}

.news_info {
    background-color: rgba(57, 56, 60, 0.8);
    position: relative;
    top: -98px;
    padding: 2em 1em;
}

.news_info h5 {
    margin: 0;
}

#medias {
    margin-top: 3em;
}

#medias > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;

}

#medias > div > section {
    width: 45%;
}

iframe {
    max-width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnails-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
}

.thumbnails-container > .thumbnail {
    flex : 0 0 30%;
    margin-bottom: 1.5em;
}



.thumbnail a img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.thumbnail figcaption {
    text-align: center;
}

#photos .thumbnails-container {
    margin-top: 1em;
    height: 100%;
}

#photos .thumbnails-container .thumbnail{
    margin-bottom: 8%;
}

#teams {
    margin-bottom: 2em;
}

#teams div {
    position: relative;
}

#teams > div:nth-last-child(2) {
    position: relative;
    width: 100%;
    height: 24vh;
    margin-bottom: 0.35em;
    background-image: url("https://picsum.photos/1600/900");
}

#teams > div:nth-last-child(1) {
    height: 55vh;
    display: flex;
    justify-content: space-between;
}

#teams > div:nth-last-child(1) > div {
    background-color: blueviolet;
    width: 16.4%;
    height: 100%;
}

#teams > div:nth-last-child(1) > div:nth-last-child(7) {
    background-image: url("https://picsum.photos/400/600/?random");
}

#teams > div:nth-last-child(1) > div:nth-last-child(6) {
    background-image: url("https://picsum.photos/400/600/?image=2");
}

#teams > div:nth-last-child(1) > div:nth-last-child(5) {
    background-image: url("https://picsum.photos/400/600/?image=23");
}

#teams > div:nth-last-child(1) > div:nth-last-child(4) {
    background-image: url("https://picsum.photos/400/600/?image=4");
}

#teams > div:nth-last-child(1) > div:nth-last-child(3) {
    background-image: url("https://picsum.photos/400/600/?image=14");
}

#teams > div:nth-last-child(1) > div:nth-last-child(2) {
    background-image: url("https://picsum.photos/1600/900/?image=8");
}

#teams > div:nth-last-child(1) > div:nth-last-child(1) {
    background-image: url("https://picsum.photos/1600/900/?image=67");
}

.layer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(42, 44, 44, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer h3 {
    margin-bottom: 0;
    font-size: 2em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #292526;
    background: #FFFFFF;
    padding: 3em 4em;
}

footer li {
    list-style-type: none;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

footer i {
    font-size: 2em;
    margin-left: 0.5em;
}








body > div {
    height: 200vh;
}



